.header{
  width: 100%;
  z-index: 100;

}

.navbar {

  left: 0;
  top: 0;
  width: 100%;
  height: 75px;
  position: absolute;

  z-index: 1;
.navbar_wrap {
  display: flex;
  float: right;
  justify-content: space-between;
}
.menu_container{
  display: flex;
  float: right;
  height: 75px;
  align-items: center;
}
.hamb {
  display: none;
}
.hamb_field {
  &.active .bar:nth-child(2){
    opacity: 0;
  }
  &.active .bar:nth-child(1){
    transform: translateY(8px)  rotate(45deg);
  }
  &.active .bar:nth-child(3){
    transform: translateY(-9px) rotate(-45deg);
  }
}
.nav_item{
  text-decoration: none;
  align-items:center;
  margin: 0 15px;
  color:rgba(255,255,255,1);
  padding: 4px;
  transition: all 0.6s ease;
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;


  &:hover {

    background-color:#FF4D01;
  
  }
}
#contact{
  cursor: pointer;
}
#card_item{
  cursor: pointer;
}
.menu {

  display: flex;

    li{
      display: flex ;
      align-items:stretch;      
      &:nth-child(5){
        margin-left:20px;
      }
    }

}

.btn_small {
  margin: 0 15px;
}
}
.popup {
  display: none;
  .menu{
  text-align:center;
  }
li{
  transition: all 0.5 ease;
  padding: 5vh;
  &:hover{
    background-color:#FF4D01;
   align-items:stretch;

  }
  &:hover .nav_item{
    color: white;
  }
  .nav_item{
    text-decoration: none;
    color:rgb(0, 0, 0);
    text-align: center;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
  }
}

}


@media screen and (max-width:1065px) {
.intro{
  .btn{
    margin-bottom: 20%;
  }
}
}

@media screen and (max-width:768px) {
  .navbar {
    position: fixed;
    .navbar_wrap{
      float: none;
      background-color:#FF4D01;
    }
  .hamb {
    display: flex;
    align-items:center;
  }
  .hamb_field {
    padding: 10px 20px;
    cursor: pointer;
  }
  .bar {
    display: block;
    width: 30px;
    height: 3px;
    margin: 6px auto;
    background-color:#fff;
    transition: 0.2s;
  }
  .menu {
    display: none;
  }
    .menu_container{
      .btn_small{
        &:hover{
          background-color:#ff834f;

        }
      }

    }


  }
  .popup {
    display: block;
    position: fixed;
    top: 75px;
    left: -100%;
    height: 100%;
    width: 100%;
    background-color:#fff;
    z-index: 100 ;
    transition: 0.3s;
    menu{overflow: auto;}
  }
  .open{
    left: 0;
  }
  body.noscroll{
    overflow: hidden;
  }
  
}
@media screen and (max-width:450px) {
  .navbar{
    .menu_container{
      .nav_item{
        font-size: 3.5vw;
        margin: 0 8px;
      }
      .btn_small{
        font-size: 3.5vw;
        margin: 0;
      }
    }

  }
}