// shop
.shop_window {
  transform: translateX(100%);
  width:100%;
  height: 100%;
  position: fixed;
  top: 0;
transition: all 0.5s ease;
  background-color:rgb(243, 239, 239);
  z-index: 10;
  border:1px solid black;
    &.visible{
      transform: translateX(0);
    }
.title_shop_block{
  display: flex;
  border:1px solid black;
  justify-content: space-between;
}
.title_shop {
  padding: 10px 0;
  font-size: 18px;
  text-align: center;
}
.shop_main_content {
table{
  width: 100%;
}

  tr{
    &:nth-child(1){
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 2fr 1fr ;
      text-align: center;
    }
    td{
     font-size: 16px;
    }
  }
}
svg{
  display: inline-block;
  width: 24px;
  height: 24px;
  align-self: center;
}
.exit_shop{
  align-self: center;
  cursor: pointer;
  svg{
    transition: all .4s ;
    &:hover{
      fill: #FF4D01;
    }
  }
}
}


// contact

  .ContactMenu {
    &.visible{
      transform: translateX(0);
    }

    display: flex;

    transition: all 0.5s ease;
    transform: translateX(-100%);
    position: fixed;
    z-index: 10000000;
    width: 100%;
    height: 100%;
    background-color:rgba(0,0,0,.7);

    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;

  .ContactMenu_inner {
    border-radius:10px;
    background-color:white;
    align-self:center;
    text-align: center;
    // width: 40%;
    margin: 0 auto;

  }
  .Contact_number {
    font-size: 30px;
    margin:  20px 30px;

    border-radius: 10px;
    cursor: pointer;
    &:hover{
      background-color:rgba(0,0,0,.3)
    }
  }
  .Contact_Email {
    font-size: 30px;
    margin:  20px 30px;
    border-radius: 10px;
    cursor: pointer;
    &:hover{
      background-color:rgba(0,0,0,.3)
    }
  }
  .Social_icon_container {
    display: flex;
    justify-content: center;
    gap: 0.3em;
    width: 100%;
    height: 5em;
    transition: all .7s ease;
    padding: 0.4em;
    box-sizing: border-box;
  }
  .social_icon {
    width: 2em;
    height: 2em;
    padding: 0.5em;
    background-color: #FF4D01;
    transition: all .4s ease;
    &:hover{
      background:none;
      border:1px solid #FF4D01;
      svg{
        fill:#FF4D01;
      }
    }

    svg{
      fill: white;
      width: 2em;
      height: 2em;
    }
  }
  #vk {
  }
  #telegram {
  }
  #instagram {
  }
  #youtube{
  }

  .exit_Contact{
    float: right;
    align-self: center;
    cursor: pointer;
    svg{
      width: 30px;
      height: 30px;
      transition: all .4s ;
      &:hover{
        fill: #FF4D01;
      }
    }
  }
}