.trigger {
  font-size: 54px;
.trigger_inner {
  font-weight: 400;
}
.container{
  background: url(img/Trigger/Trigger_bg.png) no-repeat  center;
  
}
.trigger_content {
  padding: 8.6% 45% 8.6% 10.5%;
}
.trigger_title {
  font-size: 1em;
  line-height: 115%;
}
.trigger_subtitle {
  font-size: 0.333em;
  line-height: 167%;
  margin: 0.37em 0;
}
.btn {
  width: 180px;
  height: 75px;
  font-size: 0.296em;
  margin-right: 20px;
  &:hover{
    border:1px solid black;
    color:black;
  }
}

}

// media adaptation

@media screen and (max-width:1065px) {
  .trigger {

    font-size: 45px;
    .trigger_content {
      padding: 8% 45% 8% 10%;
    }

    .trigger_subtitle {
      margin: 2vw 0;
    }
    .btn {
      font-size: 1.5vw;
      width: 17vw;
      height: 7vw;
      margin-right: 1.88vw;
      &:hover{
        border:1px solid black;
        color:black;
      }
    }
    
    }
}
@media screen and (max-width:800px) {
  .trigger {

    font-size: 6.5vw;
    .trigger_content {

      padding: 6% 20% 8% 10%;
    }
    .trigger_subtitle {
      margin: 2vw 0;
    }
    .btn {

      width: 17vw;
      height: 7vw;
      font-size: 0.3em;
      margin-right: 1.88vw;
      &:hover{
        border:1px solid black;
        color:black;
      }
    }
    
    }
}
