.WhyChooseUs {
  .WhyChooseUs_inner {
    position:relative;
  }
  .WhyChooseUs_block {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 100px;
  }
  .WhyChooseUs_bg_container{
    position:absolute;
  }
  .WhyChooseUs_block_group {
  }
  .WhyChooseUs_block_img {
  }
  .WhyChooseUs_blocK_group {
  }
  .WhyChooseUs_partition {
  }
  .partition {
  }
  .WhyChooseUs_Title {
  }
  .WhyChooseUs_SubTitle {
  }
  .WhyChooseUs_link {
  }
  .WhyChooseUs_Date_Container {
  }
  .WhyChooseUs_Date_item {
  }
  .WhyChooseUs_Date_title {
  }
  .AboutUs_Date_subtitle {
  }
  .WhyChooseUs_Date_subtitle {
  }

}