@charset "UTF-8";
html {
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  font-family: "Barlow", sans-serif;
  font-style: normal;
  font-weight: 400;
  overflow-x: hidden;
}

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1440px;
  height: auto;
  margin: 0 auto;
}

.need_copy {
  cursor: pointer;
  transition: all 0.2s ease;
}
.need_copy:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

.out {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
  height: 20%;
  text-align: center;
  border-radius: 10px;
  color: greenyellow;
  position: fixed;
  top: 30%;
  right: 50%;
  transform: translate(50%, -50%);
  z-index: 100;
  font-size: 2em;
}

.btn {
  background-color: #FF4D01;
  color: white;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 111%;
  width: 169px;
  height: 75px;
  cursor: pointer;
  transition: all 0.4s ease;
  border: none;
}
.btn:hover {
  background: none;
  border: 1px solid white;
}

.btn_small {
  width: 129px;
  height: 54px;
}

.partition {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 110%;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  color: #FF4D01;
}

.partition {
  font-size: 1.49vw;
}

.btn_longer {
  width: 237px;
  color: white;
  background-color: #FF4D01;
  font-size: 18px;
  line-height: 111%;
}
.btn_longer:hover {
  color: black;
  border: 1px solid rgb(0, 0, 0);
}

.btn_height_low {
  height: 70px;
}

.header {
  width: 100%;
  z-index: 100;
}

.navbar {
  left: 0;
  top: 0;
  width: 100%;
  height: 75px;
  position: absolute;
  z-index: 1;
}
.navbar .navbar_wrap {
  display: flex;
  float: right;
  justify-content: space-between;
}
.navbar .menu_container {
  display: flex;
  float: right;
  height: 75px;
  align-items: center;
}
.navbar .hamb {
  display: none;
}
.navbar .hamb_field.active .bar:nth-child(2) {
  opacity: 0;
}
.navbar .hamb_field.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}
.navbar .hamb_field.active .bar:nth-child(3) {
  transform: translateY(-9px) rotate(-45deg);
}
.navbar .nav_item {
  text-decoration: none;
  align-items: center;
  margin: 0 15px;
  color: rgb(255, 255, 255);
  padding: 4px;
  transition: all 0.6s ease;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  cursor: pointer;
}
.navbar .nav_item:hover {
  background-color: #FF4D01;
}
.navbar #contact {
  cursor: pointer;
}
.navbar #card_item {
  cursor: pointer;
}
.navbar .menu {
  display: flex;
}
.navbar .menu li {
  display: flex;
  align-items: stretch;
}
.navbar .menu li:nth-child(5) {
  margin-left: 20px;
}
.navbar .btn_small {
  margin: 0 15px;
}

.popup {
  display: none;
}
.popup .menu {
  text-align: center;
}
.popup li {
  transition: all 0.5 ease;
  padding: 5vh;
}
.popup li:hover {
  background-color: #FF4D01;
  align-items: stretch;
}
.popup li:hover .nav_item {
  color: white;
}
.popup li .nav_item {
  text-decoration: none;
  color: rgb(0, 0, 0);
  text-align: center;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
}

@media screen and (max-width: 1065px) {
  .intro .btn {
    margin-bottom: 20%;
  }
}
@media screen and (max-width: 768px) {
  .navbar {
    position: fixed;
  }
  .navbar .navbar_wrap {
    float: none;
    background-color: #FF4D01;
  }
  .navbar .hamb {
    display: flex;
    align-items: center;
  }
  .navbar .hamb_field {
    padding: 10px 20px;
    cursor: pointer;
  }
  .navbar .bar {
    display: block;
    width: 30px;
    height: 3px;
    margin: 6px auto;
    background-color: #fff;
    transition: 0.2s;
  }
  .navbar .menu {
    display: none;
  }
  .navbar .menu_container .btn_small:hover {
    background-color: #ff834f;
  }
  .popup {
    display: block;
    position: fixed;
    top: 75px;
    left: -100%;
    height: 100%;
    width: 100%;
    background-color: #fff;
    z-index: 100;
    transition: 0.3s;
  }
  .popup menu {
    overflow: auto;
  }
  .open {
    left: 0;
  }
  body.noscroll {
    overflow: hidden;
  }
}
@media screen and (max-width: 450px) {
  .navbar .menu_container .nav_item {
    font-size: 3.5vw;
    margin: 0 8px;
  }
  .navbar .menu_container .btn_small {
    font-size: 3.5vw;
    margin: 0;
  }
}
.intro {
  width: 100%;
  height: auto;
  position: relative;
  color: White;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  background-image: url(img/intro/intro_img.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.intro .intro_inner {
  position: relative;
  padding-top: 69px;
  margin: 0 20%;
  text-align: center;
}
.intro .title {
  padding-top: 182px;
  font-size: 72px;
}
.intro .sub_title {
  font-size: 18px;
  margin: 35px 0;
}
.intro .btn {
  font-size: 1em;
  margin-bottom: 300px;
}
.intro .btn:nth-child(2) {
  margin-left: 28px;
}

@media screen and (min-width: 1400px) {
  .intro {
    background-image: none;
  }
  .intro .container {
    background-image: url(img/intro/intro_img.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
@media screen and (max-width: 1065px) {
  .intro .title {
    padding-top: 17vw;
    font-size: 6.7vw;
  }
  .intro .sub_title {
    font-size: 1.6vw;
  }
  .intro .btn {
    width: 16vw;
    height: 7vw;
    font-size: 2vw;
  }
  .intro .btn:nth-child(2) {
    margin-left: 28px;
  }
  .intro {
    background-image: url(img/intro/intro_img.png);
    background-repeat: no-repeat;
    background-position: center;
  }
}
@media screen and (max-width: 768px) {
  .intro .sub_title {
    font-size: 2vw;
  }
  .intro .btn {
    font-size: 2.4vw;
    margin-bottom: 25vw;
  }
  .intro .btn:nth-child(2) {
    margin-left: 28px;
  }
}
@media screen and (max-width: 381px) {
  .intro .title {
    font-size: 8.7vw;
    padding-top: 23vw;
  }
  .intro .sub_title {
    font-size: 3vw;
  }
  .intro .btn {
    width: 21vw;
    height: 10vw;
    margin-bottom: 30vw;
    font-size: 3vw;
  }
  .intro .intro_inner {
    margin: 0 10%;
  }
}
.AboutUs {
  margin-top: 100px;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
}
.AboutUs .AboutUs_inner {
  display: flex;
}
.AboutUs .AboutUs_Group:nth-child(1) {
  width: 40%;
  padding-left: 30px;
  text-align: center;
}
.AboutUs .AboutUs_Group:nth-child(2) {
  width: 60%;
  padding-top: 40px;
  padding-left: 5%;
}
.AboutUs .AboutUs_title {
  font-size: 54px;
  line-height: 115%;
  padding-right: 31%;
}
.AboutUs .AboutUs_subtitle {
  font-size: 18px;
  line-height: 167%;
  color: #605E5D;
  padding: 19px 0 50px 0;
  padding-right: 25%;
}
.AboutUs .AboutUs_Date_Container {
  display: flex;
  justify-content: space-between;
  padding-right: 35%;
}
.AboutUs .AboutUs_Date_item {
  text-align: center;
}
.AboutUs .AboutUs_Date_title {
  font-size: 72px;
  line-height: 117%;
}
.AboutUs .AboutUs_Date_title span {
  color: #FF4D01;
}
.AboutUs .AboutUs_Date_subtitle {
  font-size: 18px;
  line-height: 111%;
  color: #989899;
  margin-bottom: 85px;
}

@media screen and (max-width: 1400px) {
  .AboutUs .AboutUs_Group:nth-child(1) img {
    width: 35.1vw;
  }
  .AboutUs .partition {
    font-size: 1.49vw;
  }
  .AboutUs .AboutUs_title {
    font-size: 4vw;
  }
  .AboutUs .AboutUs_subtitle {
    font-size: 1.285712vw;
    padding: 19px 6vw 5vw 0;
  }
  .AboutUs .AboutUs_Date_title {
    font-size: 4vw;
  }
  .AboutUs .AboutUs_Date_subtitle {
    font-size: 1.285712vw;
    margin-bottom: 6.07143vw;
  }
  .AboutUs .btn_longer {
    font-size: 1.285712vw;
    width: 16.9295VW;
    height: 5.3589vw;
  }
}
@media screen and (max-width: 800px) {
  .AboutUs {
    margin-top: 7.321vw;
  }
  .AboutUs .AboutUs_inner {
    display: block;
    text-align: center;
  }
  .AboutUs .AboutUs_Group:nth-child(1) img {
    display: none;
  }
  .AboutUs .AboutUs_Group:nth-child(1), .AboutUs .AboutUs_Group:nth-child(2) {
    width: 100%;
    padding: 0;
  }
  .AboutUs .AboutUs_title {
    padding: 0 20%;
    font-size: 5vw;
  }
  .AboutUs .AboutUs_subtitle {
    padding: 19px 5% 5vw 5%;
    font-size: 2.5vw;
  }
  .AboutUs .AboutUs_Date_Container {
    padding: 0 20%;
  }
  .AboutUs .AboutUs_Date_title {
    font-size: 6vw;
  }
  .AboutUs .AboutUs_Date_subtitle {
    font-size: 2vw;
  }
  .AboutUs .btn_longer {
    font-size: 2vw;
    width: 22vw;
    height: 8vw;
  }
}
@media screen and (max-width: 381px) {
  .AboutUs .AboutUs_Group:nth-child(1) img {
    width: 40vw;
  }
  .AboutUs .partition {
    font-size: 2.5vw;
  }
  .AboutUs .AboutUs_title {
    padding: 0 10%;
    font-size: 7vw;
  }
  .AboutUs .AboutUs_subtitle {
    font-size: 3vw;
  }
  .AboutUs .btn_longer {
    font-size: 3vw;
    width: 35vw;
    height: 10vw;
  }
}
.OurServices {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  padding: 0 50px;
}
.OurServices .OurServices_inner {
  margin: 200px 0;
}
.OurServices .OurServices_group:nth-child(2) {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 80px 24px;
  margin-top: 66px;
}
.OurServices .OurServices_subgroup:nth-child(2) {
  display: flex;
  justify-content: space-between;
}
.OurServices .btn:nth-child(1):hover {
  color: black;
  border: 1px solid rgb(0, 0, 0);
}
.OurServices .btn_longer {
  margin-left: 28px;
}
.OurServices .OurServices_subgroup_title {
  font-size: 54px;
  line-height: 115%;
}
.OurServices .OurServices_btn {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.OurServices .OurServices_item img {
  width: 70px;
  height: 70px;
}
.OurServices .OurServices_item_title {
  font-size: 32px;
  line-height: 141%;
}
.OurServices .OurServices_item_subtitle {
  font-size: 16px;
  line-height: 167%;
  margin: 15px 0;
}
.OurServices .OurServices_link {
  display: inline;
  font-size: 16px;
  line-height: 111%;
}
.OurServices .OurServices_link:hover {
  color: #FF4D01;
}
.OurServices .OurServices_link a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}
.OurServices .OurServices_link::before {
  content: "◈";
  transition: all 0.3s;
  margin-right: 10px;
}

@media screen and (max-width: 1065px) {
  .OurServices .OurServices_subgroup_title {
    font-size: 5vw;
  }
  .OurServices .OurServices_btn .btn {
    width: 18vw;
    height: 7vw;
  }
  .OurServices .OurServices_btn .btn_longer {
    width: 22vw;
  }
}
@media screen and (max-width: 800px) {
  .OurServices .OurServices_inner {
    margin: 20vw 0;
  }
  .OurServices .OurServices_group:nth-child(2) {
    grid-template-columns: 1fr 1fr;
    gap: 6vw 1.5vw;
  }
  .OurServices .OurServices_group .OurServices_item {
    text-align: center;
  }
  .OurServices .OurServices_subgroup:nth-child(2) {
    display: block;
    text-align: center;
  }
  .OurServices .OurServices_subgroup_title {
    padding: 5vw 0;
    font-size: 6vw;
  }
  .OurServices .OurServices_btn {
    justify-content: center;
  }
  .OurServices .OurServices_btn .btn {
    width: 20vw;
    height: 8vw;
    font-size: 2vw;
  }
  .OurServices .OurServices_btn .btn_longer {
    width: 22vw;
  }
  .OurServices .OurServices_item_title {
    font-size: 4.24vw;
  }
  .OurServices .OurServices_item_subtitle {
    font-size: 2vw;
  }
  .OurServices .OurServices_link {
    font-size: 2.5vw;
  }
}
@media screen and (max-width: 381px) {
  .OurServices .OurServices_inner {
    margin: 20vw 0;
  }
  .OurServices .OurServices_group:nth-child(2) {
    grid-template-columns: 1fr 1fr;
    gap: 6vw 1.5vw;
  }
  .OurServices .OurServices_subgroup:nth-child(2) {
    display: block;
    text-align: center;
  }
  .OurServices .OurServices_subgroup_title {
    padding: 5vw 0;
    font-size: 6vw;
  }
  .OurServices .OurServices_btn {
    justify-content: center;
  }
  .OurServices .OurServices_btn .btn {
    width: 20vw;
    height: 8vw;
    font-size: 2vw;
  }
  .OurServices .OurServices_btn .btn_longer {
    width: 22vw;
  }
  .OurServices .OurServices_item_title {
    font-size: 4.24vw;
  }
  .OurServices .OurServices_item_subtitle {
    font-size: 2vw;
  }
  .OurServices .OurServices_link {
    font-size: 2.5vw;
  }
}
.shop_window {
  transform: translateX(100%);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  transition: all 0.5s ease;
  background-color: rgb(243, 239, 239);
  z-index: 10;
  border: 1px solid black;
}
.shop_window.visible {
  transform: translateX(0);
}
.shop_window .title_shop_block {
  display: flex;
  border: 1px solid black;
  justify-content: space-between;
}
.shop_window .title_shop {
  padding: 10px 0;
  font-size: 18px;
  text-align: center;
}
.shop_window .shop_main_content table {
  width: 100%;
}
.shop_window .shop_main_content tr:nth-child(1) {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  text-align: center;
}
.shop_window .shop_main_content tr td {
  font-size: 16px;
}
.shop_window svg {
  display: inline-block;
  width: 24px;
  height: 24px;
  align-self: center;
}
.shop_window .exit_shop {
  align-self: center;
  cursor: pointer;
}
.shop_window .exit_shop svg {
  transition: all 0.4s;
}
.shop_window .exit_shop svg:hover {
  fill: #FF4D01;
}

.ContactMenu {
  display: flex;
  transition: all 0.5s ease;
  transform: translateX(-100%);
  position: fixed;
  z-index: 10000000;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
}
.ContactMenu.visible {
  transform: translateX(0);
}
.ContactMenu .ContactMenu_inner {
  border-radius: 10px;
  background-color: white;
  align-self: center;
  text-align: center;
  margin: 0 auto;
}
.ContactMenu .Contact_number {
  font-size: 30px;
  margin: 20px 30px;
  border-radius: 10px;
  cursor: pointer;
}
.ContactMenu .Contact_number:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
.ContactMenu .Contact_Email {
  font-size: 30px;
  margin: 20px 30px;
  border-radius: 10px;
  cursor: pointer;
}
.ContactMenu .Contact_Email:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
.ContactMenu .Social_icon_container {
  display: flex;
  justify-content: center;
  gap: 0.3em;
  width: 100%;
  height: 5em;
  transition: all 0.7s ease;
  padding: 0.4em;
  box-sizing: border-box;
}
.ContactMenu .social_icon {
  width: 2em;
  height: 2em;
  padding: 0.5em;
  background-color: #FF4D01;
  transition: all 0.4s ease;
}
.ContactMenu .social_icon:hover {
  background: none;
  border: 1px solid #FF4D01;
}
.ContactMenu .social_icon:hover svg {
  fill: #FF4D01;
}
.ContactMenu .social_icon svg {
  fill: white;
  width: 2em;
  height: 2em;
}
.ContactMenu .exit_Contact {
  float: right;
  align-self: center;
  cursor: pointer;
}
.ContactMenu .exit_Contact svg {
  width: 30px;
  height: 30px;
  transition: all 0.4s;
}
.ContactMenu .exit_Contact svg:hover {
  fill: #FF4D01;
}

.trigger {
  font-size: 54px;
}
.trigger .trigger_inner {
  font-weight: 400;
}
.trigger .container {
  background: url(img/Trigger/Trigger_bg.png) no-repeat center;
}
.trigger .trigger_content {
  padding: 8.6% 45% 8.6% 10.5%;
}
.trigger .trigger_title {
  font-size: 1em;
  line-height: 115%;
}
.trigger .trigger_subtitle {
  font-size: 0.333em;
  line-height: 167%;
  margin: 0.37em 0;
}
.trigger .btn {
  width: 180px;
  height: 75px;
  font-size: 0.296em;
  margin-right: 20px;
}
.trigger .btn:hover {
  border: 1px solid black;
  color: black;
}

@media screen and (max-width: 1065px) {
  .trigger {
    font-size: 45px;
  }
  .trigger .trigger_content {
    padding: 8% 45% 8% 10%;
  }
  .trigger .trigger_subtitle {
    margin: 2vw 0;
  }
  .trigger .btn {
    font-size: 1.5vw;
    width: 17vw;
    height: 7vw;
    margin-right: 1.88vw;
  }
  .trigger .btn:hover {
    border: 1px solid black;
    color: black;
  }
}
@media screen and (max-width: 800px) {
  .trigger {
    font-size: 6.5vw;
  }
  .trigger .trigger_content {
    padding: 6% 20% 8% 10%;
  }
  .trigger .trigger_subtitle {
    margin: 2vw 0;
  }
  .trigger .btn {
    width: 17vw;
    height: 7vw;
    font-size: 0.3em;
    margin-right: 1.88vw;
  }
  .trigger .btn:hover {
    border: 1px solid black;
    color: black;
  }
}
.WhyChooseUs .WhyChooseUs_inner {
  position: relative;
  font-size: 54px;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  padding: 0 2.963em;
}
.WhyChooseUs .WhyChooseUs_block {
  padding-top: 1.852em;
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-column-gap: 100px;
}
.WhyChooseUs .WhyChooseUs_block:nth-child(1) {
  padding-top: 5em;
}
.WhyChooseUs .WhyChooseUs_bg_container {
  position: absolute;
  background: url(img/WhyChooseUs/BG.png) no-repeat center top;
  width: 100%;
  height: 100%;
}
.WhyChooseUs .WhyChooseUs_block_img {
  max-width: 100%;
}
.WhyChooseUs .WhyChooseUs_partition {
  font-size: 0.37em;
  line-height: 110%;
}
.WhyChooseUs .WhyChooseUs_Title {
  font-size: 1em;
  line-height: 115%;
}
.WhyChooseUs .WhyChooseUs_SubTitle {
  font-size: 0.333em;
  line-height: 167%;
  padding: 1em 0;
}
.WhyChooseUs .WhyChooseUs_link {
  font-size: 0.333em;
  line-height: 111%;
  list-style-type: none;
}
.WhyChooseUs .WhyChooseUs_link li::before {
  content: "✓ ";
  color: #FF4D01;
}
.WhyChooseUs .WhyChooseUs_Date_Container {
  display: flex;
  text-align: center;
  justify-content: space-around;
}
.WhyChooseUs .WhyChooseUs_Date_Container .WhyChooseUs_Date_item .WhyChooseUs_Date_title {
  font-size: 1em;
  line-height: 115%;
}
.WhyChooseUs .WhyChooseUs_Date_Container .WhyChooseUs_Date_item .WhyChooseUs_Date_title span {
  color: #FF4D01;
}
.WhyChooseUs .WhyChooseUs_Date_Container .WhyChooseUs_Date_item .WhyChooseUs_Date_subtitle {
  font-size: 0.333em;
  line-height: 111%;
  color: #989899;
}

@media screen and (max-width: 1065px) {
  .WhyChooseUs .WhyChooseUs_inner {
    font-size: 35px;
  }
}
@media screen and (max-width: 800px) {
  .WhyChooseUs .WhyChooseUs_inner {
    font-size: 5vw;
    text-align: center;
  }
  .WhyChooseUs .WhyChooseUs_block {
    grid-template-columns: 1fr;
  }
  .WhyChooseUs .WhyChooseUs_block:nth-child(1) {
    padding-top: 4em;
  }
  .WhyChooseUs .WhyChooseUs_block_img {
    display: none;
  }
}
@media screen and (max-width: 400px) {
  .WhyChooseUs .WhyChooseUs_inner {
    font-size: 7vw;
    padding: 0 1em;
  }
}
.PastProjects .PastProjects_inner {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 45px;
  padding: 0 1.1em;
}
.PastProjects .PastProjects_group {
  margin-top: 1.481em;
}
.PastProjects .PastProjects_item:nth-child(2) {
  display: flex;
}
.PastProjects .partition {
  font-size: 0.37em;
  line-height: 110%;
}
.PastProjects .PastProjects_title {
  font-size: 1em;
  line-height: 115%;
  margin-right: 3em;
}
.PastProjects .PastProject_slider_container > div {
  padding-right: 20%;
}
.PastProjects .PastProjects_btns {
  display: flex;
  align-items: center;
  text-align: center;
}
.PastProjects .PastProjects_btns .btn:nth-child(1) {
  font-size: 0.356em;
  width: 10.563em;
  height: 4.688em;
}
.PastProjects .PastProjects_btns .btn:nth-child(2) {
  font-size: 0.356em;
  width: 14.813em;
  height: 4.688em;
}
.PastProjects .PastProjects_btns .btn {
  margin-right: 28px;
}
.PastProjects .PastProjects_btns .btn:hover {
  border: 1px solid black;
  color: black;
}
.PastProjects .slider-item {
  transform: translate(0);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.PastProjects .slider-item img {
  width: 90%;
  height: 11.111em;
  position: relative;
}
.PastProjects .content_slider_PastProjects {
  position: absolute;
  top: 0;
  color: white;
  z-index: 100000;
  padding: 40% 15% 0 5%;
}
.PastProjects .content_slider_PastProjects .content_slider_PastProjects_title {
  font-size: 0.756em;
  line-height: 141%;
  margin-bottom: 0.471em;
}
.PastProjects .content_slider_PastProjects .content_slider_PastProjects_subtitle {
  font-size: 0.4em;
  line-height: 167%;
  padding-bottom: 1em;
}
.PastProjects .content_slider_PastProjects .content_slider_PastProjects_name {
  display: flex;
  align-items: center;
  border-top: 1px solid #989899;
  font-size: 0.4em;
  line-height: 111%;
  padding-top: 1.4em;
}
.PastProjects .content_slider_PastProjects .content_slider_PastProjects_name img {
  margin-right: 0.556em;
  width: 29px;
  height: 29px;
}
.PastProjects .slick-dots {
  bottom: -2.5em;
}
.PastProjects .slick-dots li {
  width: 50px;
  height: 50px;
}
.PastProjects .slick-dots li.slick-active button::before {
  background-color: #FF4D01;
  opacity: 1;
}
.PastProjects .slick-dots li button::before {
  transition: all 0.5s ease;
  content: " ";
  width: 40px;
  height: 40px;
  opacity: 1;
  background: none;
  border: 1px solid black;
}
@media screen and (max-width: 1060px) {
  .PastProjects .PastProjects_inner {
    font-size: 3.4vw;
  }
  .PastProjects .PastProjects .slick-dots {
    bottom: -2.5em;
  }
}
@media screen and (max-width: 800px) {
  .PastProjects .PastProjects_inner {
    font-size: 30px;
  }
  .PastProjects .PastProjects_title {
    margin-right: 1em;
  }
  .PastProjects .PastProject_slider_container > div {
    padding-right: 0;
  }
}
@media screen and (max-width: 600px) {
  .PastProjects .PastProjects_inner {
    font-size: 30px;
  }
  .PastProjects .content_slider_PastProjects {
    padding: 35% 15% 0 5%;
  }
  .PastProjects .PastProjects_title {
    margin: auto 0;
    font-size: 1.5em;
  }
  .PastProjects .PastProjects_btns {
    display: none;
    flex-flow: column;
  }
  .PastProjects .PastProjects_btns .btn {
    margin-right: 0;
    margin-top: 8px;
  }
}
@media screen and (max-width: 500px) {
  .PastProjects .PastProjects_inner {
    font-size: 35px;
  }
  .PastProjects .PastProjects_title {
    font-size: 0.9em;
  }
  .PastProjects .slider-item img {
    width: 100%;
  }
}

.Testimonials {
  margin-top: 20%;
}
.Testimonials .Testimonials_inner {
  font-size: 54px;
}
.Testimonials .Testimonials_group:nth-child(1) {
  width: 44%;
  margin: 0 2.5% 3% 2.5%;
}
.Testimonials .container {
  overflow: hidden;
}
.Testimonials .Testimonials_title {
  font-size: 1em;
  line-height: 115%;
}
.Testimonials .Testimonials_slider {
  position: relative;
}
.Testimonials .Testimonials_slider .slick-arrow {
  position: absolute;
  background-color: #FF4D01;
  width: 1em;
  height: 1em;
  font-size: 1.333em;
  top: -33%;
  transition: all 0.3s ease;
}
.Testimonials .Testimonials_slider .slick-arrow:hover {
  background: none;
  border: 1px solid black;
}
.Testimonials .Testimonials_slider .slick-arrow:before {
  content: "";
}
.Testimonials .Testimonials_slider .slick-next {
  right: calc(10px + 9 * (100vw - 800px) / 640);
}
.Testimonials .Testimonials_slider .slick-prev {
  left: calc(630px + 600 * (100vw - 800px) / 640);
}
.Testimonials .Testimonials_slider_item.slick-slide {
  display: flex;
}
.Testimonials .Testimonials_img {
  width: 40%;
  padding-left: 5%;
  height: 100%;
}
.Testimonials .Testimonials_content {
  padding-left: 0.704em;
  width: 60%;
  margin: auto;
}
.Testimonials .Testimonials_slider_title {
  font-size: 0.519em;
  line-height: 136%;
}
.Testimonials .Testimonials_slider_subtitle {
  font-size: 0.333em;
  line-height: 167%;
  padding: 5% 0;
}
.Testimonials .Testimonials_autor {
  color: rgb(138, 138, 138);
}
.Testimonials .Testimonials_autor_name {
  font-size: 0.333em;
  line-height: 111%;
}
.Testimonials .Testimonials_autor_domicile {
  font-size: 0.259em;
  line-height: 143%;
  letter-spacing: 0.84px;
  text-transform: uppercase;
}

@media screen and (max-width: 1060px) {
  .Testimonials .Testimonials_group:nth-child(1) {
    width: 57%;
  }
}
@media screen and (max-width: 800px) {
  .Testimonials .Testimonials_inner {
    font-size: 6.7vw;
  }
  .Testimonials .Testimonials_group:nth-child(1) {
    width: 100%;
    margin: 0 0 2.5% 0;
    text-align: center;
  }
}
.Blog .Blog_inner {
  font-size: 54px;
  margin: 0 7%;
}
.Blog .Blog_group {
  grid-gap: 0.5em;
}
.Blog .Blog_group:nth-child(1) {
  margin: 12% 0 4% 0;
}
.Blog .Blog_group:nth-child(2) {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "large1 small1" "large1 small2" "large1 small3";
}
.Blog .Blog_header_item:nth-child(2) {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Blog .Blog_header_item:nth-child(2) .btn:hover {
  color: black;
  border: 1px solid black;
}
.Blog .Blog_group_item_title {
  margin-top: 6%;
}
.Blog .Blog_group_item {
  display: flex;
}
.Blog .Blog_group_item_large {
  flex-flow: column;
  grid-area: large1;
}
.Blog .Blog_group_item_large .Blog_group_item_title {
  font-size: 0.63em;
}
.Blog .Blog_group_item_large .Blog_group_date {
  font-size: 0.333em;
}
.Blog .Blog_group_item_large img {
  width: 10.407em;
  height: 10.407em;
}
.Blog .btn {
  font-size: 0.571em;
  width: 10.563em;
}
.Blog .Blog_group_date_container {
  margin: 1% 7%;
}
.Blog .Blog_group_date {
  display: flex;
}
.Blog .Blog_group_item_small {
  line-height: 136%;
  font-size: 0.519em;
}
.Blog .Blog_group_item_small img {
  width: 8em;
  height: 8em;
  margin: 0 5% 5% 0%;
}
.Blog .Blog_group_item_small .Blog_group_item_title {
  font-size: 1em;
}
.Blog .Blog_group_item_small .Blog_group_date {
  font-size: 0.643em;
}
.Blog .Blog_group_item_small:nth-child(0) {
  grid-area: small1;
}
.Blog .Blog_group_item_small:nth-child(1) {
  grid-area: small2;
}
.Blog .Blog_group_item_small:nth-child(2) {
  grid-area: small3;
}

@media screen and (max-width: 1060px) {
  .Blog .Blog_inner {
    font-size: 4vw;
  }
}
@media screen and (max-width: 800px) {
  .Blog .btn {
    height: 4em;
  }
}
.footer {
  background-color: rgb(0, 0, 0);
  color: white;
}
.footer a {
  text-decoration: none;
  color: white;
  transition: 0.5s ease;
}
.footer a:hover {
  color: #FF4D01;
}
.footer .footer_inner {
  font-size: 22px;
}
.footer .footer_group:nth-child(1) {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 5% 0;
}
.footer .footer_group:nth-child(2) {
  display: flex;
  justify-content: space-between;
  margin: 0 5%;
  font-size: 0.818em;
  line-height: 167%;
}
.footer .footer_group:nth-child(2) #copyright {
  color: #989899;
}
.footer .footer_group:nth-child(2) #contact_for_developer a {
  color: #FF4D01;
}
.footer .footer_group:nth-child(2) #contact_for_developer a:hover {
  color: white;
}
.footer .footer_item h2 {
  font-size: 1em;
  line-height: 110%;
  margin-bottom: 10%;
}
.footer .footer_item:nth-child(2) .content_container {
  flex-flow: row;
}
.footer .footer_item:nth-child(2) .content_container .content_container_item:nth-child(2) {
  margin-left: 72px;
}
.footer .Social_icon_container {
  margin-top: 1em;
  display: flex;
  justify-content: center;
}
.footer .social_icon {
  margin-right: 1em;
}
.footer .social_icon svg {
  width: 2em;
  height: 2em;
  background-color: #FF4D01;
  transition: all 0.7s ease;
  padding: 0.4em;
  box-sizing: border-box;
}
.footer .social_icon svg:hover use {
  fill: #FF4D01;
}
.footer .social_icon svg:hover {
  background: none;
  border: 1px solid white;
}
.footer .social_icon use {
  width: 1em;
  height: 1em;
  fill: white;
  transition: all 0.7s ease;
}
.footer .content_container {
  display: flex;
  flex-flow: column;
  width: 13.182em;
  height: auto;
}
.footer .content_container_item {
  display: flex;
  flex-flow: column;
}
.footer .content_container_link {
  margin-top: 0.773em;
  font-size: 0.818em;
  line-height: 111%;
  white-space: nowrap;
}
.footer .contact_item {
  font-size: 0.818em;
  line-height: 167%;
  margin: 15% 5% 0 5%;
  text-align: center;
}
.footer .content_container_contact {
  padding: 10% 5%;
  display: flex;
  font-size: 0.727em;
  line-height: 112%;
  letter-spacing: 0.96px;
  text-transform: uppercase;
  border: 1px solid #FF4D01;
}
.footer .content_container_contact img {
  margin-right: 5%;
}
.footer .content_container_contact_text P:nth-child(1) {
  margin-bottom: 5%;
}

@media screen and (min-width: 1440px) {
  .footer {
    background-color: inherit;
  }
  .footer .container {
    background-color: rgb(0, 0, 0);
  }
}
@media screen and (max-width: 1280px) {
  .footer .footer_item:nth-child(2) .content_container .content_container_item:nth-child(2) {
    margin-left: 2vw;
  }
}
@media screen and (max-width: 1060px) {
  .footer .footer_inner {
    font-size: 1.8vw;
  }
  .footer .content_container_contact_text {
    letter-spacing: 0.01em;
  }
}
@media screen and (max-width: 768px) {
  .footer .footer_group:nth-child(1) {
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .footer .footer_inner {
    font-size: 3vw;
  }
  .footer .footer_item:nth-child(2), .footer .footer_item:nth-child(4) {
    display: none;
  }
}