@charset "UTF-8";
body {
  box-sizing: border-box;
  font-family: "Barlow", sans-serif;
  font-style: normal;
  font-weight: 400;
}

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1440px;
  height: auto;
  margin: auto;
}

.btn {
  background-color: #FF4D01;
  color: white;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 111%;
  width: 169px;
  height: 75px;
  cursor: pointer;
  transition: all 0.4s ease;
  border: none;
}
.btn:hover {
  background: none;
  border: 1px solid white;
}

.btn_small {
  width: 129px;
  height: 54px;
}

.partition {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 110%;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  color: #FF4D01;
}

.partition {
  font-size: 1.49vw;
}

.btn_longer {
  width: 237px;
  color: white;
  background-color: #FF4D01;
  font-size: 18px;
  line-height: 111%;
}
.btn_longer:hover {
  color: black;
  border: 1px solid rgb(0, 0, 0);
}

.btn_height_low {
  height: 70px;
}

.header {
  width: 100%;
  z-index: 100;
}

.navbar {
  left: 0;
  top: 0;
  width: 100%;
  height: 75px;
  position: absolute;
  z-index: 1;
}
.navbar .navbar_wrap {
  display: flex;
  float: right;
  justify-content: space-between;
}
.navbar .menu_container {
  display: flex;
  float: right;
  height: 75px;
  align-items: center;
}
.navbar .hamb {
  display: none;
}
.navbar .hamb_field.active .bar:nth-child(2) {
  opacity: 0;
}
.navbar .hamb_field.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}
.navbar .hamb_field.active .bar:nth-child(3) {
  transform: translateY(-9px) rotate(-45deg);
}
.navbar .nav_item {
  text-decoration: none;
  align-items: center;
  margin: 0 15px;
  color: rgb(255, 255, 255);
  padding: 4px;
  transition: all 0.6s ease;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
}
.navbar .nav_item:hover {
  background-color: #FF4D01;
}
.navbar #contact {
  cursor: pointer;
}
.navbar #card_item {
  cursor: pointer;
}
.navbar .menu {
  display: flex;
}
.navbar .menu li {
  display: flex;
  align-items: stretch;
}
.navbar .menu li:nth-child(5) {
  margin-left: 20px;
}
.navbar .btn_small {
  margin: 0 15px;
}

.popup {
  display: none;
}
.popup .menu {
  text-align: center;
}
.popup li {
  transition: all 0.5 ease;
  padding: 5vh;
}
.popup li:hover {
  background-color: #FF4D01;
  align-items: stretch;
}
.popup li:hover .nav_item {
  color: white;
}
.popup li .nav_item {
  text-decoration: none;
  color: rgb(0, 0, 0);
  text-align: center;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
}

@media screen and (max-width: 1065px) {
  .intro .btn {
    margin-bottom: 20%;
  }
}
@media screen and (max-width: 768px) {
  .navbar {
    position: fixed;
  }
  .navbar .navbar_wrap {
    float: none;
    background-color: #FF4D01;
  }
  .navbar .hamb {
    display: flex;
    align-items: center;
  }
  .navbar .hamb_field {
    padding: 10px 20px;
    cursor: pointer;
  }
  .navbar .bar {
    display: block;
    width: 30px;
    height: 3px;
    margin: 6px auto;
    background-color: #fff;
    transition: 0.2s;
  }
  .navbar .menu {
    display: none;
  }
  .navbar .menu_container .btn_small:hover {
    background-color: #ff834f;
  }
  .popup {
    display: block;
    position: fixed;
    top: 75px;
    left: -100%;
    height: 100%;
    width: 100%;
    background-color: #fff;
    z-index: 100;
    transition: 0.3s;
  }
  .popup menu {
    overflow: auto;
  }
  .open {
    left: 0;
  }
  body.noscroll {
    overflow: hidden;
  }
}
@media screen and (max-width: 450px) {
  .navbar .menu_container .nav_item {
    font-size: 3.5vw;
    margin: 0 8px;
  }
  .navbar .menu_container .btn_small {
    font-size: 3.5vw;
    margin: 0;
  }
}
.intro {
  width: 100%;
  height: auto;
  position: relative;
  color: White;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  background-image: url(img/intro/intro_img.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.intro .intro_inner {
  position: relative;
  padding-top: 69px;
  margin: 0 20%;
  text-align: center;
}
.intro .title {
  padding-top: 182px;
  font-size: 72px;
}
.intro .sub_title {
  font-size: 18px;
  margin: 35px 0;
}
.intro .btn {
  margin-bottom: 300px;
}
.intro .btn:nth-child(2) {
  margin-left: 28px;
}

@media screen and (max-width: 1065px) {
  .intro .title {
    padding-top: 17vw;
    font-size: 6.7vw;
  }
  .intro .sub_title {
    font-size: 1.6vw;
  }
  .intro .btn {
    width: 16vw;
    height: 7vw;
  }
  .intro .btn:nth-child(2) {
    margin-left: 28px;
  }
  .intro {
    background-image: url(img/intro/intro_img.png);
    background-repeat: no-repeat;
    background-position: center;
  }
}
@media screen and (max-width: 768px) {
  .intro .sub_title {
    font-size: 2vw;
  }
  .intro .btn {
    font-size: 2.4vw;
    margin-bottom: 25vw;
  }
  .intro .btn:nth-child(2) {
    margin-left: 28px;
  }
}
@media screen and (max-width: 381px) {
  .intro .title {
    font-size: 8.7vw;
    padding-top: 23vw;
  }
  .intro .sub_title {
    font-size: 3vw;
  }
  .intro .btn {
    width: 21vw;
    height: 10vw;
    margin-bottom: 30vw;
    font-size: 3vw;
  }
  .intro .intro_inner {
    margin: 0 10%;
  }
}
.AboutUs {
  margin-top: 100px;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
}
.AboutUs .AboutUs_inner {
  display: flex;
}
.AboutUs .AboutUs_Group:nth-child(1) {
  width: 40%;
  padding-left: 30px;
  text-align: center;
}
.AboutUs .AboutUs_Group:nth-child(2) {
  width: 60%;
  padding-top: 40px;
  padding-left: 5%;
}
.AboutUs .AboutUs_title {
  font-size: 54px;
  line-height: 115%;
  padding-right: 31%;
}
.AboutUs .AboutUs_subtitle {
  font-size: 18px;
  line-height: 167%;
  color: #605E5D;
  padding: 19px 0 50px 0;
  padding-right: 25%;
}
.AboutUs .AboutUs_Date_Container {
  display: flex;
  justify-content: space-between;
  padding-right: 35%;
}
.AboutUs .AboutUs_Date_item {
  text-align: center;
}
.AboutUs .AboutUs_Date_title {
  font-size: 72px;
  line-height: 117%;
}
.AboutUs .AboutUs_Date_title span {
  color: #FF4D01;
}
.AboutUs .AboutUs_Date_subtitle {
  font-size: 18px;
  line-height: 111%;
  color: #989899;
  margin-bottom: 85px;
}

@media screen and (max-width: 1400px) {
  .AboutUs .AboutUs_Group:nth-child(1) img {
    width: 35.1vw;
  }
  .AboutUs .partition {
    font-size: 1.49vw;
  }
  .AboutUs .AboutUs_title {
    font-size: 4vw;
  }
  .AboutUs .AboutUs_subtitle {
    font-size: 1.285712vw;
    padding: 19px 6vw 5vw 0;
  }
  .AboutUs .AboutUs_Date_title {
    font-size: 4vw;
  }
  .AboutUs .AboutUs_Date_subtitle {
    font-size: 1.285712vw;
    margin-bottom: 6.07143vw;
  }
  .AboutUs .btn_longer {
    font-size: 1.285712vw;
    width: 16.9295VW;
    height: 5.3589vw;
  }
}
@media screen and (max-width: 800px) {
  .AboutUs {
    margin-top: 7.321vw;
  }
  .AboutUs .AboutUs_inner {
    display: block;
    text-align: center;
  }
  .AboutUs .AboutUs_Group:nth-child(1) img {
    display: none;
  }
  .AboutUs .AboutUs_Group:nth-child(1), .AboutUs .AboutUs_Group:nth-child(2) {
    width: 100%;
    padding: 0;
  }
  .AboutUs .AboutUs_title {
    padding: 0 20%;
    font-size: 5vw;
  }
  .AboutUs .AboutUs_subtitle {
    padding: 19px 5% 5vw 5%;
    font-size: 2.5vw;
  }
  .AboutUs .AboutUs_Date_Container {
    padding: 0 20%;
  }
  .AboutUs .AboutUs_Date_title {
    font-size: 6vw;
  }
  .AboutUs .AboutUs_Date_subtitle {
    font-size: 2vw;
  }
  .AboutUs .btn_longer {
    font-size: 2vw;
    width: 22vw;
    height: 8vw;
  }
}
@media screen and (max-width: 381px) {
  .AboutUs .AboutUs_Group:nth-child(1) img {
    width: 40vw;
  }
  .AboutUs .partition {
    font-size: 2.5vw;
  }
  .AboutUs .AboutUs_title {
    padding: 0 10%;
    font-size: 7vw;
  }
  .AboutUs .AboutUs_subtitle {
    font-size: 3vw;
  }
  .AboutUs .btn_longer {
    font-size: 3vw;
    width: 35vw;
    height: 10vw;
  }
}
.OurServices {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  padding: 0 50px;
}
.OurServices .OurServices_inner {
  margin: 200px 0;
}
.OurServices .OurServices_group:nth-child(2) {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 80px 24px;
  margin-top: 66px;
}
.OurServices .OurServices_subgroup:nth-child(2) {
  display: flex;
  justify-content: space-between;
}
.OurServices .btn:nth-child(1):hover {
  color: black;
  border: 1px solid rgb(0, 0, 0);
}
.OurServices .btn_longer {
  margin-left: 28px;
}
.OurServices .OurServices_subgroup_title {
  font-size: 54px;
  line-height: 115%;
}
.OurServices .OurServices_btn {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.OurServices .OurServices_item img {
  width: 70px;
  height: 70px;
}
.OurServices .OurServices_item_title {
  font-size: 32px;
  line-height: 141%;
}
.OurServices .OurServices_item_subtitle {
  font-size: 16px;
  line-height: 167%;
  margin: 15px 0;
}
.OurServices .OurServices_link {
  display: inline;
  font-size: 16px;
  line-height: 111%;
}
.OurServices .OurServices_link:hover {
  color: #FF4D01;
}
.OurServices .OurServices_link a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}
.OurServices .OurServices_link::before {
  content: "◈";
  transition: all 0.3s;
  margin-right: 10px;
}

@media screen and (max-width: 1065px) {
  .OurServices .OurServices_subgroup_title {
    font-size: 5vw;
  }
  .OurServices .OurServices_btn .btn {
    width: 18vw;
    height: 7vw;
  }
  .OurServices .OurServices_btn .btn_longer {
    width: 22vw;
  }
}
@media screen and (max-width: 800px) {
  .OurServices .OurServices_inner {
    margin: 20vw 0;
  }
  .OurServices .OurServices_group:nth-child(2) {
    grid-template-columns: 1fr 1fr;
    gap: 6vw 1.5vw;
  }
  .OurServices .OurServices_group .OurServices_item {
    text-align: center;
  }
  .OurServices .OurServices_subgroup:nth-child(2) {
    display: block;
    text-align: center;
  }
  .OurServices .OurServices_subgroup_title {
    padding: 5vw 0;
    font-size: 6vw;
  }
  .OurServices .OurServices_btn {
    justify-content: center;
  }
  .OurServices .OurServices_btn .btn {
    width: 20vw;
    height: 8vw;
    font-size: 2vw;
  }
  .OurServices .OurServices_btn .btn_longer {
    width: 22vw;
  }
  .OurServices .OurServices_item_title {
    font-size: 4.24vw;
  }
  .OurServices .OurServices_item_subtitle {
    font-size: 2vw;
  }
  .OurServices .OurServices_link {
    font-size: 2.5vw;
  }
}
@media screen and (max-width: 381px) {
  .OurServices .OurServices_inner {
    margin: 20vw 0;
  }
  .OurServices .OurServices_group:nth-child(2) {
    grid-template-columns: 1fr 1fr;
    gap: 6vw 1.5vw;
  }
  .OurServices .OurServices_subgroup:nth-child(2) {
    display: block;
    text-align: center;
  }
  .OurServices .OurServices_subgroup_title {
    padding: 5vw 0;
    font-size: 6vw;
  }
  .OurServices .OurServices_btn {
    justify-content: center;
  }
  .OurServices .OurServices_btn .btn {
    width: 20vw;
    height: 8vw;
    font-size: 2vw;
  }
  .OurServices .OurServices_btn .btn_longer {
    width: 22vw;
  }
  .OurServices .OurServices_item_title {
    font-size: 4.24vw;
  }
  .OurServices .OurServices_item_subtitle {
    font-size: 2vw;
  }
  .OurServices .OurServices_link {
    font-size: 2.5vw;
  }
}
.shop_window {
  transform: translateX(100%);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  transition: all 0.5s ease;
  background-color: rgb(243, 239, 239);
  z-index: 10;
  border: 1px solid black;
}
.shop_window.visible {
  transform: translateX(0);
}
.shop_window .title_shop_block {
  display: flex;
  border: 1px solid black;
  justify-content: space-between;
}
.shop_window .title_shop {
  padding: 10px 0;
  font-size: 18px;
  text-align: center;
}
.shop_window .shop_main_content table {
  width: 100%;
}
.shop_window .shop_main_content tr:nth-child(1) {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  text-align: center;
}
.shop_window .shop_main_content tr td {
  font-size: 16px;
}
.shop_window svg {
  display: inline-block;
  width: 24px;
  height: 24px;
  align-self: center;
}
.shop_window .exit_shop {
  align-self: center;
  cursor: pointer;
}
.shop_window .exit_shop svg {
  transition: all 0.4s;
}
.shop_window .exit_shop svg:hover {
  fill: #FF4D01;
}

.ContactMenu {
  display: grid;
  grid-auto-flow: column;
  transition: all 0.5s ease;
  transform: translateX(-100%);
  position: fixed;
  z-index: 10000000;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}
.ContactMenu.visible {
  transform: translateX(0);
}
.ContactMenu .ContactMenu_inner {
  background-color: white;
  align-self: center;
  text-align: center;
  width: 40%;
  margin: 0 auto;
}
.ContactMenu .Contact_number {
  padding: 20px 30px;
}
.ContactMenu .Contact_Email {
  padding: 20px 30px;
}
.ContactMenu .Social_icon_container {
  padding: 20px 0;
}
.ContactMenu .icon_social {
  width: 30px;
  height: 30px;
}
.ContactMenu .exit_Contact {
  float: right;
  align-self: center;
  cursor: pointer;
}
.ContactMenu .exit_Contact svg {
  width: 30px;
  height: 30px;
  transition: all 0.4s;
}
.ContactMenu .exit_Contact svg:hover {
  fill: #FF4D01;
}

.trigger {
  font-size: 54px;
}
.trigger .trigger_inner {
  font-weight: 400;
}
.trigger .container {
  background: url(img/Trigger/Trigger_bg.png) no-repeat center;
}
.trigger .trigger_content {
  padding: 8.6% 45% 8.6% 10.5%;
}
.trigger .trigger_title {
  font-size: 1em;
  line-height: 115%;
}
.trigger .trigger_subtitle {
  font-size: 0.333em;
  line-height: 167%;
  margin: 0.37em 0;
}
.trigger .btn {
  width: 180px;
  height: 75px;
  font-size: 0.296em;
  margin-right: 20px;
}
.trigger .btn:hover {
  border: 1px solid black;
  color: black;
}

@media screen and (max-width: 1065px) {
  .trigger {
    font-size: 45px;
  }
  .trigger .trigger_content {
    padding: 8% 45% 8% 10%;
  }
  .trigger .trigger_subtitle {
    margin: 2vw 0;
  }
  .trigger .btn {
    font-size: 1.5vw;
    width: 17vw;
    height: 7vw;
    margin-right: 1.88vw;
  }
  .trigger .btn:hover {
    border: 1px solid black;
    color: black;
  }
}
@media screen and (max-width: 800px) {
  .trigger {
    font-size: 6.5vw;
  }
  .trigger .trigger_content {
    padding: 6% 20% 8% 10%;
  }
  .trigger .trigger_subtitle {
    margin: 2vw 0;
  }
  .trigger .btn {
    width: 17vw;
    height: 7vw;
    font-size: 0.3em;
    margin-right: 1.88vw;
  }
  .trigger .btn:hover {
    border: 1px solid black;
    color: black;
  }
}
.WhyChooseUs .WhyChooseUs_inner {
  position: relative;
  font-size: 54px;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  padding: 0 2.963em;
}
.WhyChooseUs .WhyChooseUs_block {
  padding-top: 1.852em;
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-column-gap: 100px;
}
.WhyChooseUs .WhyChooseUs_block:nth-child(1) {
  padding-top: 5em;
}
.WhyChooseUs .WhyChooseUs_bg_container {
  position: absolute;
  background: url(img/WhyChooseUs/BG.png) no-repeat center top;
  width: 100%;
  height: 100%;
}
.WhyChooseUs .WhyChooseUs_block_img {
  max-width: 100%;
}
.WhyChooseUs .WhyChooseUs_partition {
  font-size: 0.37em;
  line-height: 110%;
}
.WhyChooseUs .WhyChooseUs_Title {
  font-size: 1em;
  line-height: 115%;
}
.WhyChooseUs .WhyChooseUs_SubTitle {
  font-size: 0.333em;
  line-height: 167%;
  padding: 1em 0;
}
.WhyChooseUs .WhyChooseUs_link {
  font-size: 0.333em;
  line-height: 111%;
  list-style-type: none;
}
.WhyChooseUs .WhyChooseUs_link li::before {
  content: "✓ ";
  color: #FF4D01;
}
.WhyChooseUs .WhyChooseUs_Date_Container {
  display: flex;
  text-align: center;
  justify-content: space-around;
}
.WhyChooseUs .WhyChooseUs_Date_Container .WhyChooseUs_Date_item .WhyChooseUs_Date_title {
  font-size: 1em;
  line-height: 115%;
}
.WhyChooseUs .WhyChooseUs_Date_Container .WhyChooseUs_Date_item .WhyChooseUs_Date_title span {
  color: #FF4D01;
}
.WhyChooseUs .WhyChooseUs_Date_Container .WhyChooseUs_Date_item .WhyChooseUs_Date_subtitle {
  font-size: 0.333em;
  line-height: 111%;
  color: #989899;
}

@media screen and (max-width: 1065px) {
  .WhyChooseUs .WhyChooseUs_inner {
    font-size: 2vw;
  }
}
@media screen and (max-width: 800px) {
  .WhyChooseUs .WhyChooseUs_inner {
    font-size: 5vw;
    text-align: center;
  }
  .WhyChooseUs .WhyChooseUs_block {
    grid-template-columns: 1fr;
  }
  .WhyChooseUs .WhyChooseUs_block:nth-child(1) {
    padding-top: 4em;
  }
  .WhyChooseUs .WhyChooseUs_block_img {
    display: none;
  }
}
@media screen and (max-width: 400px) {
  .WhyChooseUs .WhyChooseUs_inner {
    font-size: 7vw;
    padding: 0 1em;
  }
}
.PastProjects .PastProjects_inner {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 45px;
  padding: 0 1.1em;
}
.PastProjects .PastProjects_group {
  margin-top: 1.481em;
}
.PastProjects .PastProjects_item:nth-child(2) {
  display: flex;
}
.PastProjects .partition {
  font-size: 0.37em;
  line-height: 110%;
}
.PastProjects .PastProjects_title {
  font-size: 1em;
  line-height: 115%;
  margin-right: 3em;
}
.PastProjects .PastProjects_btns {
  display: flex;
  align-items: center;
  text-align: center;
}
.PastProjects .PastProjects_btns .btn {
  margin-right: 28px;
}
.PastProjects .PastProjects_btns .btn:hover {
  border: 1px solid black;
  color: black;
}
.PastProjects .PastProject_slider_container {
  overflow: hidden;
}
.PastProjects .slider-track {
  display: flex;
  transition: 0.2s;
  transform: translateX(0px);
}
.PastProjects .slider-item {
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.PastProjects .slider-item img {
  width: 90%;
  height: 90%;
}
.PastProjects .slider_buttons {
  text-align: center;
}
.PastProjects .slider_buttons .btn {
  width: 72px;
  height: 72px;
}
.PastProjects .slider_buttons .btn:hover {
  border: 1px solid black;
  color: black;
}
.PastProjects .content_slider_PastProjects {
  position: absolute;
  color: white;
  padding: 40% 7% 0 8%;
}
.PastProjects .content_slider_PastProjects .content_slider_PastProjects_title {
  font-size: 0.756em;
  line-height: 141%;
  margin-bottom: 0.471em;
}
.PastProjects .content_slider_PastProjects .content_slider_PastProjects_subtitle {
  font-size: 0.4em;
  line-height: 167%;
  padding-bottom: 1em;
}
.PastProjects .content_slider_PastProjects .content_slider_PastProjects_name {
  display: flex;
  align-items: center;
  border-top: 1px solid #989899;
  font-size: 0.4em;
  line-height: 111%;
  padding-top: 1.4em;
}
.PastProjects .content_slider_PastProjects .content_slider_PastProjects_name img {
  margin-right: 0.556em;
  width: 29px;
  height: 29px;
}
@media screen and (max-width: 800px) {
  .PastProjects .PastProjects_inner {
    font-size: 30px;
  }
}
@media screen and (min-width: 1800px) {
  .PastProjects .PastProjects_inner {
    padding: 0;
  }
}